<header id="header">
    <a href="/" class="logo">Zaid.</a>
    <nav id="navbar" class="navbar">
            <a href="/"> Home </a>
            <a href="/about"> About </a>
            <a href="/projects"> Projects </a>
            <a href="/blogs"> Blogs </a>
            <a href="/faq"> FaQ </a>
            {{#if isAuthenticated}}
            <a href="/logout"> <span>Logout</span> </a>
            {{else}}
            <a href="/login"> <span>Login</span> </a>
            {{/if}}
            <button id="night-mode-toggle" class="btn"></button>
    </nav>
            <i id="menu-icon" class='bx bx-menu' ></i>

    
</header>
