<div id="about" class="about flex">
    
   <div class="about-text">
    <h1><span>About </span>Me</h1>
    <p>
        I possess proficient skills in programming, web development, and design, and I am currently pursuing 
                        my education at Jönköping University. As an athlete, I bring valuable experience in both cardiovascular 
                        and strength training to the table, maintaining an ongoing commitment to my fitness regimen at the gym. 
                        My professional approach leans towards active collaboration, and I thrive in hands-on work environments. 
                        My commitment to fostering a productive workplace is evidenced by my dedication to articulating 
                        and upholding crucial rules and norms.
    </p>
   </div>
    
    <div id="card">
        <div class="education flex">
                <button class="btn click-btn">Click To Flip</button>
 
            <h1>Education</h1>
            <div class="school">  
                <h4>Hökensás Skola i Tidaholm</h4>
                <h6>2015 - 2019</h6>
            </div>
            <div class="school">  
                <h4>Teknikprogram, Allebergsgymnasiet, Falköping</h4>
                <h6>2019 - 2022</h6>
            </div>
            <div class="school">  
                <h4>Software Engineering And Mobile Platform, Jönköpings Universitet</h4>
                <h6>2022 - Present</h6>
            </div>

        </div>
        <div class="experience flex">
                <button class="btn click-btn">Click To Flip</button>

                  <h1>Experience</h1>

                    <div class="work">  
                        <h4>Web Developer, Bravomedia (Apprenticeship), Falköping</h4>
                        <h6>September 2021 - May 2022</h6>
                    </div>
                    <div class="work">  
                        <h4>Shop Salesman, Jula AB, Falköping</h4>
                        <h6>June 2022 - August 2023</h6>
                    </div>
                    <div class="work">  
                        <h4>Machine Operator, Berry Superfos (Part-Time), Mullsjö</h4>
                        <h6>September 2022 - Present</h6>
                    </div>
                    <div class="work">  
                        <h4>Kyllager, Arla Foods (Part-Time), Jönköping</h4>
                        <h6>May 2023 - Present</h6>
                    </div>
        </div>

        
    </div>

</div>