<div id="projects">
    <h1 class="heading">My <span>Projects</span></h1>
    <div class="prjects-container flex">
        <div class="project-box">
            <i class='bx bx-code-alt' ></i>
            <h3>Project 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam beatae animi soluta rem obcaecati quaerat iure, facere amet, quisquam est quos molestiae facilis praesentium omnis, temporibus itaque sequi laboriosam. Itaque.</p>
            <a href="#" class="btn">More Info</a>
        </div>
        <div class="project-box">
            <i class='bx bx-code-alt' ></i>
            <h3>Project 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam beatae animi soluta rem obcaecati quaerat iure, facere amet, quisquam est quos molestiae facilis praesentium omnis, temporibus itaque sequi laboriosam. Itaque.</p>
            <a href="#" class="btn">More Info</a>
        </div>
    </div>
</div>