:root {
    --bg-color-dark: #1f242d;
    --bg-color-light: #f4ffff;
}

@media (max-width: 768px) {
    .flex{
        flex-wrap: wrap;
        flex-direction: column;
    }
    #menu-icon{
        display: block;
        font-size: xx-large;
    }

    .navbar{
        display: flex;
        align-items: center; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 2%;
        background-color: var(--bg-color);
        display: none;
    }
    .navbar a{
        margin-left: 0;
        padding-bottom: 5%;
    }
    #night-mode-toggle{
        margin-left: 0;
    }
    .navbar.active{
        display: flex;
        flex-direction: column;
    }

    .home{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-img{
        display: none;
    }

    .btn{
        margin-bottom: 5%;
        width: 17rem;
    }
    .btn-2{
        margin-left: 0;
    }
    .home-img{
        margin-top: 1rem;    
        margin-left: 1rem;
        }
    .home-img img{
        width: 100%;
    }

    .home-content{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about{
        margin: 0;
        flex-wrap: wrap;
    }

    .about h1 {
        border-left: .7rem solid var(--text-color);
        padding-left: 5rem;
    }

    
  .education,
  .experience {
    width: 90%;
    height: auto;
    padding-bottom: 10%;
  }
  #card{
    transform: translateX(5%);
  }
  #card.is-flipped{
    transform: translateX(-105%) rotateY(180deg);
  }

  .projects-container,.blog-container{
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    margin-right: 4rem;
    margin-left: 2rem;
  }
  .blog-details img{
    margin-left: auto;
  }
  .blog-details h1{
    font-size: 3rem;
  }
  .faq h1{
    font-size: 3rem;
  }
  .panel-title {
    font-size: 1.5rem;
    }

    .panel-content{
        font-size: 1rem;
    }
}